@{
    ViewData["Title"] = "Home Page";
    var productCategory = new List<string>();
    var supplier = new List<string>();
    foreach (var element in Model)
    {
        if (!productCategory.Contains(element.ProductCategory.Department))
        {
            productCategory.Add(element.ProductCategory.Department);
        }
        if (!supplier.Contains(element.Supplier.Name))
        {
            supplier.Add(element.Supplier.Name);
        }
    }

   

}

@model List<Codecool.CodecoolShop.Models.Product>


<main role="main" class="pb-3">
<div class="container">
  <div class="row">
    <div class="col-3">
      <nav class="navbar navbar-expand-sm flex-sm-column navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
             <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                 <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">Product Categories</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        @foreach (var element in productCategory)
                        {
                            <li>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">@element</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
                <br>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                 <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">Supplier</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        @foreach (var element in supplier)
                        {
                            <li>
                                <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Product" asp-action="Index">@element</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
       </nav>
    </div>
    <div class="col">
       <div class="container">
        @foreach (var element in Model)
        {
            <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
                <div class="card">
                    <img src="img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Product
                            @{ var num = Model.IndexOf(element) + 1;}
                            @num
                        </h5>
                        <h5 class="card-title">@element.Name</h5>
                        <p class="card-text">@element.Description.</p>
                        <p class="card-text">Category: @element.ProductCategory.Department</p>
                        <p class="card-text">Supplier: @element.Supplier.Name</p>
                        <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                        <a href="" type="button" class="btn btn-primary" style="float: left">Add To Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
  </div>
 </div>>
</main>
