@{
    ViewData["Title"] = "Home Page";
    var categories = new List<ProductCategory>();
    var supplayers = new List<Supplier>();
    var products =  @Json.Serialize(Model);

    foreach (var item in Model)
    {
        if (!categories.Contains(item.ProductCategory))
        {
            categories.Add(item.ProductCategory);
        }
        if (!supplayers.Contains(item.Supplier))
        {
            supplayers.Add(item.Supplier);
        }
    }
}

@model List<Codecool.CodecoolShop.Models.Product>


<main role="main" class="pb-3">
<div class="container">
  <div class="row">
    <div class="col-2">
      <nav class="navbar navbar-expand-sm flex-sm-column navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
             <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                 <div>
                <h5>Category</h5> <button id="BNTCatrgories" onclick='CategoryContent(@Json.Serialize(categories))'>v</button>
                </div>
                <br>
                 <div id="categories"></div>
                    <br>
                    <h5>Supplier</h5> <button id="BNTSupplayer" onclick='SupplayerContent(@Json.Serialize(supplayers))'>v</button>
                    <div id="supplayer">
                    </div>

            </div>
       </nav>
    </div>
    <div class="col">
       <div class="container" id="productContainer">
        @foreach (var element in Model)
        {
            <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
                <div class="card">
                    <img src="img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Product
                            @{ var num = Model.IndexOf(element) + 1;}
                            @num
                        </h5>
                        <h5 class="card-title">@element.Name</h5>
                        <p class="card-text">@element.Description.</p>
                        <p class="card-text">Category: @element.ProductCategory.Department</p>
                        <p class="card-text">Supplier: @element.Supplier.Name</p>
                        <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                        <a href="" type="button" class="btn btn-primary" style="float: left">Add To Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
    </div>
  </div>
 </div>
</main>
