@{

    ViewData["Title"] = "Home Page";

}

@model (List<Codecool.CodecoolShop.Models.Product>, List<Codecool.CodecoolShop.Models.ProductCategory>, List<Codecool.CodecoolShop.Models.Supplier>)

<main role="main" class="pb-3">
<div class="container">
  <div class="row">
    <div class="col-2">
      <nav class="navbar navbar-expand-sm flex-sm-column navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
             <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <form>
                    <label for="categories">Choose a category:</label>
                        <select id="categories">
                            <option value="0">All</option>;
                            @foreach (var item in Model.Item2)
                            {
                                <option value="@item.Id">@item.Name</option>;
                            }
                        </select>
                    <button type="button" onclick="RefreshProducts('category')">Refresh</button>
                </form>
                <form>
                    <label for="supliers">Choose a supplier:</label>
                        <select id="supliers">
                            <option value="0">All</option>;
                            @foreach (var item in Model.Item3)
                            {
                                <option value="@item.Id">@item.Name</option>;
                            }
                        </select>
                    <button type="button" onclick="RefreshProducts('supplier')">Refresh</button>
                </form>
            </div>
                <br>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                
            </div>
       </nav>
    </div>
    <div class="col">
       <div class="container" id="productContainer">
        @foreach (var element in Model.Item1)
        {
            <div class="col-lg-3 col-lg-3" style="display: inline-block; max-width: 350px; height: 350px">
                <form>
                <div class=$'card{@element.Id}'>
                    <img src="img/@(element.Name).jpg" style="height: 50%; width: 50%; align-self: center; padding-top: 10px">
                    <div class="card-body">
                        <h5 class="card-title text-center">
                            Product
                            @{ var num = Model.Item1.IndexOf(element) + 1;}
                            @num
                        </h5>
                        <h5 class="card-title">@element.Name</h5>
                        <p class="card-text">@element.Description.</p>
                        <p class="card-text">Category: @element.ProductCategory.Department</p>
                        <p class="card-text">Supplier: @element.Supplier.Name</p>
                        <p class="card-text text-center"><strong>Price: @element.DefaultPrice.ToString("C2")</strong></p>
                        <button asp-action="buy" asp-route-id="@element.Id" class="btn btn-primary" style="float: left">Add To Cart</button>
                    </div>
                </div>
                </form>
            </div>
        }
    </div>
    </div>
  </div>
 </div>
</main>
